@import "tailwindcss";

@theme {
  --color-brand-primary: #ef4444;
  --color-brand-secondary: #3b82f6;
  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer base {
  body {
    @apply text-gray-900 bg-white antialiased font-sans;
  }
}
